{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
درباره ما
{% endblock %}

{% block content %}

	<div class="card mt-5  mx-auto">
	<div class="card-header text-center">
		<h3>درباره ما</h3>
	</div>
	<div class="card-body">
		<div class="col-8 mx-auto">
			<p>سالنی پلتفرمی‌ست که شما می‌توانید برای رزرو سالن و یا چمن ورزشی در شهر خود در کمترین زمان ممکن یک سانس را انتخاب و رزرو نمایید.</p>
			<p>به‌زودی امکانات بیشتری را برای راحتی شما فراهم خواهیم کرد.</p>
		</div>
	</div>

	</div>

{% endblock %}