{% extends 'base.html' %}

{% block title %}
	خانه
{% endblock %}

{% block content %}
	<div class="container">
		<div class="text-center mt-5">
			<h3>لیست سالن‌ها و چمن‌ها</h3>
		</div>
		<div class="row"  style="display: block;">
			<div class="col-10 mx-auto">
					{% for saloon in saloons_list %}
						<div class="card mt-4">
							<div class="card-header">
								<div class="row">
									<div class="col-md-10 mx-auto">
										<h4 class="text-center">{{ saloon.name }}</h4>
									</div>

								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-4 mt-2">
										ساعت کار {% if saloon.type == 'su' %}
										چمن
										{% else %}
										سالن
										{% endif %}  از
										{{ saloon.start_time }}
										تا
										{{ saloon.end_time }}
										می‌باشد.
									</div>
									<div class="col-md-4">
										استان:
										<a href="{% url 'saloons:saloons_province' saloon.province %}" class="btn btn-outline-primary">{{ saloon.province }}</a>
									</div>
									<div class="col-md-4">
										شهر:
										<a href="{% url 'saloons:saloons_city' saloon.city %}" class="btn btn-outline-danger">{{ saloon.city }}</a>
									</div>
								</div>
								<hr>
							<div class="row">
								<div class="col-md-4">
									<img class="img-thumbnail" src="{{ saloon.picture.url }}" alt="{{ saloon.name }}" />
								</div>
								<div class="col-md-8">
									<div>
										{{ saloon.about|safe|truncatewords:100 }}
									</div>
								</div>
							</div>
							</div>
							<div class="card-footer">
								<a href="{{ saloon.get_absoulte_url }}" class="btn btn-block btn-success">انتخاب سالن و رزرو</a>
							</div>
						</div>
					{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}